
.ipynb_checkpoints/Birthday Candles-checkpoint.ipynb
.ipynb_checkpoints/Diagonal Difference-checkpoint.ipynb
.ipynb_checkpoints/Leap Year-checkpoint.ipynb
.ipynb_checkpoints/String Split and Join-checkpoint.ipynb
.ipynb_checkpoints/Recursive Digit Sum-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Capitalize!-checkpoint.ipynb
.ipynb_checkpoints/sWAP cASE-checkpoint.ipynb
